// About 
#about{
    & > *{
        width: 49%;
    }
    .about{
        &__txt {
            li{
                list-style: inside;
            }
        }

        &__img{
            transition: all ease-out .3s;

            .transition{
                transition: all ease-out .3s;
                border-radius: 5px;
            }
            .bg-img1{
                background-color: #2e70aed8;
                transform: rotate(5deg);
                @extend .transition;

                .bg-img2{
                    background-color: #3d3d3def;
                    transform: rotate(-10deg);
                    @extend .transition;

                    img{
                        width: 60%;
                        transform: rotate(5deg);
                        @extend .transition;
                        opacity: .6;
                    }
                }
            }

            &:hover{
                .bg-img1{
                    transform: rotate(0deg);
                    .bg-img2{
                        transform: rotate(0deg);
                        img{
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            
        }
        
    }
}

@media (max-width:1100px) {
    // About 
    #about{
        flex-direction: column;
        & > *{
            width: 100%;
        }

        .about__img{
            margin-top: 3rem;
            padding: 0 1.3rem;
        }   
    }
}